.body {
    width: 1440px;
    height: 10150px;
}
.header {
    width: 1440px;
    height: 83px;
    background-color: #131313;
    
    &__navbar ul {
        display: flex;
        width: 581px
        
        &__navbar ul li{
            width: 
        }
    }
}
